@font-face {
  font-family: "MontserratBold";
  src: url("./fonts/MontserratBold/MontserratBold.eot");
  src: url("./fonts/MontserratBold/MontserratBold.eot?#iefix") format("embedded-opentype"),
       url("./fonts/MontserratBold/MontserratBold.woff") format("woff"),
       url("./fonts/MontserratBold/MontserratBold.ttf") format("truetype"),
       url("./fonts/MontserratBold/Montserrat-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "MontserratMedium";
  src: url("./fonts/MontserratMedium/MontserratMedium.eot");
  src: url("./fonts/MontserratMedium/MontserratMedium.eot?#iefix") format("embedded-opentype"),
       url("./fonts/MontserratMedium/MontserratMedium.woff") format("woff"),
       url("./fonts/MontserratMedium/MontserratMedium.ttf") format("truetype"),
       url("./fonts/MontserratMedium/Montserrat-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("./fonts/MontserratRegular/MontserratRegular.eot");
  src: url("./fonts/MontserratRegular/MontserratRegular.eot?#iefix") format("embedded-opentype"),
       url("./fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
       url("./fonts/MontserratRegular/MontserratRegular.ttf") format("truetype"),
       url("./fonts/MontserratRegular/MontserratRegular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("./fonts/MontserratSemiBold/MontserratSemiBold.eot");
  src: url("./fonts/MontserratSemiBold/MontserratSemiBold.eot?#iefix") format("embedded-opentype"),
       url("./fonts/MontserratSemiBold/MontserratSemiBold.woff") format("woff"),
       url("./fonts/MontserratSemiBold/MontserratSemiBold.ttf") format("truetype"),
       url("./fonts/MontserratSemiBold/Montserrat-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
